@import url('https://fonts.googleapis.com/css?family=Comfortaa|Roboto');


*{
	margin: 0;
	padding: 0;
	outline: none;
}

a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

html, body{
	width: 100%;
	background: url(../img/bg.jpg);
	font-family: Roboto, sans-serif;
	font-size: 15px;
	color: #00416c;
}

/* small */

@media screen and (max-width:799px){

	#pagewrapper{
		width: 96%;
		margin-left: 2%;
	}

	nav{
		background-color: #4c6971;
	}

	.navbar-brand{
		color: #d3d5d4;
		margin-top: 15px;
	}

	.nav-link{
		color: #d3d5d4;
		margin-left: 20px;
	}

	.top-block{
		background: linear-gradient(to bottom, #76c4da, #e9e9e9);
		border-bottom: 2px solid blue;
	}
	
	.left-text p.h3{
		font-size: 15px;
		font-weight: bold;
		margin-top: 25px;
	}

	.right-text p.h3{
		margin-top: 25px;
		font-size: 15px;
		font-weight: bold;
		margin-left: ;
	}

	ul.fields{
		margin-left: ;
	}

	.presentation{

	}

	.presentation p.display-3{
		font-size: 20px;
		color: #e1f0f5;
		background-color: #01a5da;
		display: inline-block;
		padding: 5px 20px;
		border-radius: 7px;
		margin-bottom: -15px;
	}

	.presentation ul li{
		display: inline-block;
	}

	.presentation ul li img{
		margin-top: -50px;
		margin-left: 70px;
	}

	.presentation ul li p{
		text-align: left;
		margin-left: 50px;
		color: #788385;
	}

	.presentation ul li img.a{
		width: 150px;
		margin-right: -80px;

	}

	.presentation ul li img.b{
		width: 150px;
		margin-right: -100px;
	}

	.presentation ul li img.c{
		width: 120px;
		margin-right: -100px;
		margin-top: 3px;
	}

	.presentation ul li img.d{
		width: 150px;
		margin-right: -83px;
	}

	/* ///// Content  /// */

	.content{
		background-color: #e8e8e8;
		padding-top: 20px;
	}

	.content-header ul li{
		display: inline-block;
		margin-left: 5px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.content-header a{
		
		padding: 2px 8px;	
	}

	.content-header a:hover{
		background-color: #fff;
		padding: 2px 8px;	
		color: #000;
	}

	.product{
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.product img{
		width: 95%;
	}
	
	.left-blog{
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.left-blog p.h3{
		font-size: 22px;
	}

	.left-blog span{
		font-size: 14px;
	}

	.right-blog{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	.next{
		border-bottom: 2px solid blue;
	}
	.content{
		padding-bottom: 20px;
	}

	/* footer /////// */

	.footer{
		background-color: #00436a;
	}

	.footer p.h3{
		color: #e0e0e0;
		font-size: 20px;
		margin-top: 10px;
	}

	.footer p{
		color: #e0e0e0;
		font-size: 10px;
		margin-top: 10px;
	}

	.footer p.h4{
		color: #e0e0e0;
		font-size: 20px;
		margin-top: 10px;
	}

	.footer span{
		color: #e0e0e0;
		font-size: 14px;
		margin-top: 10px;
	}

	.contact-details{
		margin-left: 5px;
		margin-top: -5px;
	}

	.contact-details span.e{
		font-size: 10px;
	}

	.title-html{
		font-size: 18px;
		font-weight: bold;
		border-bottom: 2px dashed blue;
		margin-bottom: 30px;
	}

	.about img{
		width: 50%;
	}

	.contact p.h3{
		font-weight: bold;
		font-size: 22px;
		margin-bottom: 5px;
	}

	.contact span{
		margin-top: 10px;

	}

	.contact p{
		margin-top: 15px;
	}

	.contact p.h3{
		font-size: 16px;
	}

	.service p.h3{
		font-size: 18px;
		font-weight: bold;
	}
}



/* large */

@media screen and (min-width:800px){

	#pagewrapper{
		width: 60%;
		margin-left: 20%;
	}

	nav{
		background-color: #4c6971;
	}

	.navbar-brand{
		color: #d3d5d4;
		margin-top: 15px;
	}

	.nav-link{
		color: #d3d5d4;
		margin-left: 20px;
	}

	.top-block{
		background: linear-gradient(to bottom, #76c4da, #e9e9e9);
		border-bottom: 2px solid blue;
	}
	
	.left-text p.h3{
		font-size: 18px;
		font-weight: bold;
		margin-top: 25px;
	}

	.right-text p.h3{
		margin-top: 25px;
		font-size: 18px;
		font-weight: bold;
		margin-left: 120px;
	}

	ul.fields{
		margin-left: 190px;
	}

	.presentation{

	}

	.presentation p.display-3{
		font-size: 20px;
		color: #e1f0f5;
		background-color: #01a5da;
		display: inline-block;
		padding: 5px 20px;
		border-radius: 7px;
		margin-bottom: -15px;
	}

	.presentation ul li{
		display: inline-block;
	}

	.presentation ul li img{
		margin-top: -50px;
		margin-left: 70px;
	}

	.presentation ul li p{
		text-align: center;
		margin-left: 50px;
		color: #788385;
	}

	.presentation ul li img.a{
		width: 150px;
		margin-right: -80px;
	}

	.presentation ul li img.b{
		width: 150px;
		margin-right: -40px;
	}

	.presentation ul li img.c{
		width: 150px;
		margin-right: -40px;
	}

	.presentation ul li img.d{
		width: 150px;
		margin-right: -40px;
	}

	/* ///// Content  /// */

	.content{
		background-color: #e8e8e8;
		padding-top: 20px;
	}

	.content-header ul li{
		display: inline-block;
		margin-left: 40px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.content-header a{
		
		padding: 2px 8px;	
	}

	.content-header a:hover{
		background-color: #fff;
		padding: 2px 8px;	
		color: #000;
	}

	.product{
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.product img{
		width: 95%;
	}
	
	.left-blog{
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.right-blog{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	.next{
		border-bottom: 2px solid blue;
	}
	.content{
		padding-bottom: 20px;
	}

	/* footer /////// */

	.footer{
		background-color: #00436a;
	}

	.footer p.h3{
		color: #e0e0e0;
		font-size: 20px;
		margin-top: 10px;
	}

	.footer p{
		color: #e0e0e0;
		font-size: 10px;
		margin-top: 10px;
	}

	.footer p.h4{
		color: #e0e0e0;
		font-size: 20px;
		margin-top: 10px;
	}

	.footer span{
		color: #e0e0e0;
		font-size: 14px;
		margin-top: 10px;
	}

	.contact-details{
		margin-left: 50px;
		margin-top: -5px;
	}




	.title-html{
		font-size: 18px;
		font-weight: bold;
		border-bottom: 2px dashed blue;
		margin-bottom: 30px;
	}

	.about img{
		width: 95%;
	}

	.contact p.h3{
		font-weight: bold;
		font-size: 22px;
		margin-bottom: 5px;
	}

	.contact span{
		margin-top: 10px;

	}

	.contact p{
		margin-top: 15px;
	}

	.contact p.h3{
		font-size: 16px;
	}
}




